{
  "repo": {
    "uri": "{{.RepoURI}}",
    "org": "local",
    "repo": "test-repo",
    "defaultBranch": "main"
  },
  "branches": {
    "main": {
      "path": "main",
      "hopspaceBranch": "main"
    }
  },
  "settings": {
    "envPatterns": ["dev", "staging", "qa"]
  }
}
